/bin/
!bin/run.sh
/dist/
/build/
/tmp/

*.exe
*.dll
*.so
*.dylib
*.test

*.out
coverage.*
coverprofile
*.prof
*.pprof

/vendor/

.env
.env.*
!.env.example

.cache/
.cache/*

.lsp/
.lsp-cache/
.gopls/
.lsp-log.txt

*.swp
*.swo
*.swn
.netrwhist

.vscode/*
!.vscode/extensions.json

.idea/

.DS_Store
Thumbs.db

*.log

*.swp
*.kate-swp
*~


node_modules/
npm-debug.log*

.agents/
.agents/*
.codex
.codex/*
AGENTS.md
SPEC.md
report.md